body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  
  padding-top: 20px;
}

header {
  display: flex;
  justify-content: center;
}

.container {  
}

h2 {
  font-size: 40px;
  text-align: center;
  color: #333;
  margin-bottom: 40px;
}

.students h2 {
  color: #dfdfdf;
}

.projects,
.students {
  padding-top: 20px;
}

.project-list,
.student-list {
  margin: 0 auto;
  max-width: 1200px;

  display: flex;
  flex-wrap: wrap;
  gap: 60px;
  justify-content: center;
}

.project-card,
.student-card {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  width: 300px;
}

.student-card {
  min-height: 110px;
  justify-content: center;
}

.project-card h3,
.student-card h3 {
  font-size: 1.5rem;
  margin: 10px;
  color: #2c3e50;
}

.project-description {
  font-size: 1rem;
  color: #7f8c8d;
  margin: 10px;
}

.links {
  display: flex;
  flex-direction: row;
  justify-content: center;
  column-gap: 13px;
  flex-wrap: wrap;
}

a {
  text-decoration: none;
  color: #2980b9;
  font-weight: bold;
  transition: color 0.3s ease;
  margin-bottom: 10px;
}

a:hover {
  color: #3498db;
}

.projects {
  margin-bottom: 60px;

}

.students {
  background-color: #2c3e50;
  
  padding-bottom: 60px;

  border-radius: 8px;
  box-shadow: 0 -8px rgba(0, 0, 0, 0.1);
}